name: 刷步数

on:
  schedule:
    - cron: '0 1 * * *'  # 每天北京时间早上9点运行 (UTC 1:00)
  workflow_dispatch:      # 允许手动点按钮运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Run script
      env:
        # 左边是代码里需要的名字，右边是你设置的Secret名字
        # 如果你之前设置Secret用的名字不一样，请修改 ${{ secrets.XXX }} 里的XXX
        user: ${{ secrets.user }}
        password: ${{ secrets.password }}
        step_min: 20000
        step_max: 25000
      run: |
        python changebushu.py
